/* Estilos personalizados de pagina Contacto */
.contenido-contacto {
    .seccion-principal-contenido {
        .seccion-mitad {
            @include columna-contenido(40%);
            width: 90%;

            iframe {    
                width: 90%;
                height: 400px;    
                margin: 10px 0;
            }
        }
    }

    .formulario {
        margin: 20px 0;
        form {        
            @extend %flex-column;
            width: 80%;
            margin: 20px auto;        
    
            input, textarea {
                margin-top: 20px;
            }
    
            @media (min-width: 600px) {
                width: 400px;
            }
        }
    }
}
/* Fin Estilos personalizados de pagina Contacto */