/* Estilo de botones generales */
.btn-pagina {
    @extend %brand-color-primary;
    padding: 10px;
    border-radius: 0.35em;    
    text-decoration: none;    

    &:hover {
        @extend %brand-color-secondary;
    }
}
/* Fin Estilo de botones generales */