footer {
    @extend %flex-row;
    @extend %brand-color-primary;
    width: 100%;
    padding: 0;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;    

    p {
        font-size: 80%;
        margin: auto 0 auto 5%;

        @media screen and (min-width: 600px) {
            margin-left: 25%;
        }
    }

    .iconos-sociales {
        @extend %flex-row;

        a {
            margin: 10px;

            img {
                width: 24px;
            }
        }
    }
}


