header {
    @extend %brand-color-primary;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.1);

    .navbar {
        margin: 5px;
        padding: 0;        
    
        .logo-div {
            @extend %flex-row;
    
            .navbar-brand {
                .logo-img {
                    width: map-get($header, logo-width);
                }
            }
    
            .logo-titulo {
                margin: auto;
                color: map-get($header, txt-color);
            }
        }
        
        .navbar-collapse {
            flex-grow: initial;
            align-items: center;
    
            .nav-item:hover {
                background-color: map-get($header, bg-color-secundary);
                border-radius: 0.3rem;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}