/* Estilo especifico de index*/
.contenido-home {
    @media screen and (min-width: 992px) {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
        width: 1000px;
    }
}
/* Fin Estilo especifico de index*/