/* Estilo de layout general */
.page-wrapper {
    display: grid;
    grid-template-areas: 
    "header"
    "banner"
    "main"
    "footer";

    header {
        grid-area: header;
    }

    .banner-principal {
        grid-area: banner;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
}
/* Fin Estilo de layout general */