/* Estilos de la barra de navegacion secundaria */
/* En pantalla chica se muestra antes que las tarjetas */
/* En pantalla grande se muestra a la derecha de las tarjetas */

.nav-tipo-recetas {    
    order: -1;    

    ul {
        @extend %flex-row;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        li {
            a {
            text-decoration: none;
            color: black;
                img {
                    width: 32px;
                    height: 32px;
                }
    
                p {
                    display: inline-block;
                    margin: 0.5rem 0 0.5rem 0;
                    font-size: 0.7rem;
    
                    @media screen and (min-width: 600px) {
                        font-size: 0.9rem; 
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            flex-direction: column;
            margin: 10px;
        }
    }    

    @media screen and (min-width: 992px) {
        order: 1;
        max-width: 90px;
    }
}
/* Fin Estilos de la barra de navegacion secundaria */
