.seccion-tercio {
    @include columna-contenido(30%);

    .texto-descripcion-receta {
        margin: 20px auto;
    }
}

.seccion-ingredientes {
    line-height: 1.6;
    text-align: left;

    ul {
        margin: 10px 5px;
    }
}

.seccion-mitad {
    @include columna-contenido(40%);

    .descripcion-receta {
        line-height: 1.6;
        text-align: left;
    }
}