@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {    
    font-family: 'Roboto', sans-serif;
}

.main-titulo {
    @include encabezado(2rem, 900);
}

h2 {
    @include encabezado(1.5rem, 800);
}

h3 {
    @include encabezado(1.5rem, 700);
}

h4 {
    @include encabezado(1.5rem, 600);
}

.encabezado-color {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $bg-color-primary;
    color: $txt-color-primary;

    @media screen and (min-width: 600px) {
        background-color: inherit;
        color: inherit;
    }
}

p {
    margin: 0.5rem;
}